.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
}

.top,
.header nav {
  padding: 2rem 0;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .header {
    font-size: 0.8rem;
  }

  .top,
  .header nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 1rem;
  }

  .top {
    align-items: center;
    inset: 0 0 auto;
    z-index: 1;

    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .header nav {
    align-items: flex-end;
    inset: auto 0 0;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 90%
    );
    z-index: 1;
  }
}
